{:command-prefix "!"
 :messages {:introduction "Welkom %s, leuk dat je er bent! Je zit momenteel in het gelimiteerde %s kanaal. Wil je jezelf kort voorstellen en je link met transgender beschrijven? Dan geeft een moderator je zo snel mogelijk toegang tot de server."
            :welcome "Welkom %s!"
            :accepted-channel "%s heeft toegang gegeven aan %s."
            :accepted-private "Bedankt voor je bericht in het %s kanaal! Een moderator heeft je toegang gegeven tot de server. Als je wilt, kun je jezelf nog aan iedereen voorstellen in het %s kanaal."
            :accepted-private-your-messages "Hier zijn de berichten die je gestuurd hebt, als je ze soms wilt herhalen:"
            :intro-reminder "%s Leuk dat je er bent! Dit is de server van Transgendergroep Nijmegen. Zou je jezelf nog kort willen voorstellen? Dan krijg je toegang tot de server."
            :kick-message "Je hebt jezelf niet voorgesteld en/of bent niet toegelaten tot de server van Transgendergroep Nijmegen."
            :kicked-channel "%s was te lang stil en is van de server verwijderd."
            :help "Beschikbare commando's: `!pronoun`, `!unpronoun`."
            :intro-help "Gebruik `%saccept @username` om nieuwe gebruikers toegang te geven tot de server."
            :too-many-to-kick "Ohjee! Ik wilde een hoop mensen tegelijk kicken, dus dat heb ik toch maar niet gedaan."
            :pronouns-added "Pronoun%s %s toegewezen aan %s!"
            :pronouns-removed "Pronoun%s %s verwijderd van %s!"
            :pronouns-help "De onderstaande pronouns zijn momenteel in gebruik:\n\n%s\n\nZitten jouw pronouns er niet bij? Gebruik simpelweg `!pronoun wat/je maar/wilt` om één of meerdere pronouns aan jezelf toe te wijzen. Gebruik `!unpronoun` als je pronouns wilt weghalen."
            :pronouns-invalid "Eén of meerdere van de genoemde pronouns is niet juist of niet toegestaan."
            :daily "%s om %s begint de activiteit %s! :tada:"
            :bi-weekly "Hallo allemaal! De komende twee weken vinden de volgende activiteiten plaats:\n\n%s\n\nEn in de twee weken daarna kun je deze activiteiten alvast in je agenda zetten:\n\n%s\n\nJe kunt ook altijd kijken op onze [kalender](http://www.transgendernijmegen.nl/kalender/), en natuurlijk kun je hier op Discord ook vragen stellen over de activiteiten. Veel plezier! :transgender_flag:"}
 :responses ["Hallo daar" "Goededag" "Hoi" "Hee" "Howdy :cowboy:"]
 :introduction-reminder-days 7
 :introduction-kick-days 14
 :pronoun-role-color 2067276
 :calendar-id "transgendernijmegen@gmail.com"}
