{:command-prefix "!"
 :messages {:introduction "Welkom %s, leuk dat je er bent! Je zit momenteel in het gelimiteerde %s kanaal. Wil je jezelf kort voorstellen en je link met transgender beschrijven? Dan geeft een moderator je zo snel mogelijk toegang tot de server."
            :welcome "Welkom %s!"
            :accepted-channel "%s heeft toegang gegeven aan %s."
            :accepted-private "Bedankt voor je bericht in het %s kanaal! Een moderator heeft je toegang gegeven tot de server. Als je wilt, kun je jezelf nog aan iedereen voorstellen in het %s kanaal."
            :accepted-private-your-messages "Hier zijn de berichten die je gestuurd hebt, als je ze soms wilt herhalen:"
            :intro-reminder "%s Leuk dat je er bent! Zou je jezelf kort willen voorstellen? Dan krijg je toegang tot de server."
            :kick-reason "Je hebt jezelf niet voorgesteld en/of bent niet toegelaten tot de server."
            :kicked-channel "%s was te lang stil en is van de server verwijderd."
            :help "Gebruik `%saccept @username` om nieuwe gebruikers toegang te geven tot de server."
            :too-many-to-kick "Ohjee! Ik wilde een hoop mensen tegelijk kicken, dus dat heb ik toch maar niet gedaan."}
 :responses ["Hallo daar" "Goededag" "Hoi" "Hee" "Howdy :cowboy:"]
 :introduction-reminder-days 7
 :introduction-kick-days 14}
