{:channel-ids {:introduction "819961158895009796"
               :welcome "820028105312698388"}
 :role-ids {:acceptor "820027220797816883"
            :accepted "820027321976356944"}
 :command-prefix "!"
 :messages {:introduction "Welkom %s, leuk dat je er bent! Je zit momenteel in het gelimiteerde %s kanaal. Wil je jezelf kort voorstellen en je link met transgender beschrijven? Dan geeft een moderator je zo snel mogelijk toegang tot de server."
            :welcome "Welkom %s!"
            :accepted-channel "%s heeft toegang gegeven aan %s."
            :accepted-private "Bedankt voor je bericht in het %s kanaal! Een moderator heeft je toegang gegeven tot de server. Als je wilt, kun je jezelf nog aan iedereen voorstellen in het %s kanaal."
            :accepted-private-your-messages "Hier zijn de berichten die je gestuurd hebt, als je ze soms wilt herhalen:"
            :intro-reminder ""
            :kick-reason ""
            :kicked-channel ""
            :help "Gebruik `%saccept @username` om nieuwe gebruikers toegang te geven tot de server."}
 :responses ["Hello there" "Good evening" "Good morning" "G'day" "Hi" "Howdy :cowboy:"]}
